*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

body{
    background: #282828;
    color: white;
}

.fundo{
    width: 660px;
    margin: 0 auto;
    background: #282828;
}
.flex{
    display: flex;
}
.cinza{
    background: #525252;
    padding: 80px;
    margin: 10px;
    border-radius: 30px;
}
.alongar{
    padding-right: 300px;
}
.alongar2{
    padding-right: 500px;
}
.esticar{
    padding-bottom: 500px;
}
.esticar2{
    padding-bottom: 300px;
}
.aumentar{
    padding-right: 300px;
    padding-bottom: 300px;
}
.exercicio{
    display: flex;
    flex-direction: column;
}
